<div class="footer-inner">
  <!-- #section:basics/footer -->
  <div class="footer-content">
    <span class="bigger-120">
      <span class="blue bolder">Raan</span>
      Application &copy; 2017-2018
    </span>

    &nbsp; &nbsp;
    <span class="action-buttons">
      <a href="#">
        <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
      </a>

      <a href="#">
        <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
      </a>

      <a href="#">
        <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
      </a>
    </span>
    <select [(ngModel)]="defaultValue" #country (change)="selectCountry(country.value)">
      <option value="en">English</option>
      <option value="vi">Tiếng Việt</option>
    </select>
  </div>

  <!-- /section:basics/footer -->
</div>
