<div id="main-product" class="col-md-12 container">
  <i *ngIf="loading" class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  <div class="pieChart" *ngIf="!loading">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOption"
            (chartHover)="pieChartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
  </div>
  <list-customers-in-debt></list-customers-in-debt>
  <div class="col-md-12" style="margin-top: 15px;" *ngIf="check == 1 && !loading">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" data-target="#home">{{ '1_year' | translate}}</a></li>
      <li><a data-toggle="tab" data-target="#menu1">{{ '1_month' | translate}}</a></li>
      <li><a data-toggle="tab" data-target="#menu2">{{ '1_week' | translate}}</a></li>
    </ul>
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <div>
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)">
          </canvas>
        </div>
      </div>
      <div id="menu1" class="tab-pane fade">
        <canvas baseChart
                [datasets]="barChartDataMonth"
                [labels]="barChartLabelsMonth"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
      </div>
      <div id="menu2" class="tab-pane fade">
        <canvas baseChart
                [datasets]="barChartDataWeek"
                [labels]="barChartLabelsWeek"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)">
        </canvas>
      </div>
    </div>

  </div>
</div>


<app-inventory-statistic></app-inventory-statistic>