/* You can add global styles to this file, and also import other style files */
.light-login {
  background: url('./assets/dist/css/images/pattern.png') repeat;
}
#main-product {
  margin-top: 20px;
}
.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}
.wrapper:after {
  display: table;
  clear: both;
  content: " ";
}
.wrapper.wrapper-full-page {
  height: auto;
  min-height: 100vh;
}

.debt {
  color: #c70303;
  /* font-size: 1.15em; */
}

.pointer {
  cursor: pointer;
}

.yellow {
  color: #5F9EA0;
}
